<head>
  <style>html{ font-family: monospace }</style>
  <title>{{ BANK }}/{{ CURRENCY }} - forex</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    body { margin: auto 1em auto auto; max-width: calc(100% - 1em); }
    h2 { margin: 2vw; }
  </style>
</head>
<body>
  <h2>{{ BANK }}/{{ CURRENCY }}</h2>
</body>
<script src="https://cdn.jsdelivr.net/npm/sockette@^2.0/dist/sockette.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/lightweight-charts@^3.3/dist/lightweight-charts.standalone.production.js"></script>
<script>
const TZ = 'Asia/Shanghai'
const chartHeight = 180
const chartOptions = {
  height: chartHeight,
  localization: {
    dateFormat: 'yyyy-MM-dd',
    timeFormatter: ts => {
      return new Date(ts * 1000).toLocaleString('sv-SE', { timeZone: TZ, timeZoneName: 'short' })
    },
  },
  timeScale: {
    timeVisible: true,
    tickMarkFormatter: (ts, tickMarkType, locale) => {
      const formatOptions = { timeZone: TZ }
      switch (tickMarkType) {
        case LightweightCharts.TickMarkType.Year:
          formatOptions.year = 'numeric'
          break
        case LightweightCharts.TickMarkType.Month:
          formatOptions.month = 'short'
          break
        case LightweightCharts.TickMarkType.DayOfMonth:
          formatOptions.day = 'numeric'
          break
        case LightweightCharts.TickMarkType.Time:
          formatOptions.hour12 = false
          formatOptions.hour = '2-digit'
          formatOptions.minute = '2-digit'
          break
        case LightweightCharts.TickMarkType.TimeWithSeconds:
          formatOptions.hour12 = false
          formatOptions.hour = '2-digit'
          formatOptions.minute = '2-digit'
          formatOptions.second = '2-digit'
          break
        default:
          break
      }
      const date = new Date(ts * 1000)
      return date.toLocaleString(locale, formatOptions)
    },
  },
}
const seriesOptions = {
  priceFormat: {
    precision: 2,
    minMove: 0.01,
  },
}

let allCharts = []

const chartRT = LightweightCharts.createChart(document.body, chartOptions)
chartRT.applyOptions({ watermark: { visible: true, color: 'rgba(11, 94, 29, 0.4)', text: 'Real Time' } })
const seriesRT = chartRT.addAreaSeries(seriesOptions)
allCharts.push(chartRT)

const chart1m = LightweightCharts.createChart(document.body, chartOptions)
chart1m.applyOptions({ watermark: { visible: true, color: 'rgba(11, 94, 29, 0.4)', text: 'One Minute' } })
const series1m = chart1m.addAreaSeries(seriesOptions)
allCharts.push(chart1m)

const chart1h = LightweightCharts.createChart(document.body, chartOptions)
chart1h.applyOptions({ watermark: { visible: true, color: 'rgba(11, 94, 29, 0.4)', text: 'One Hour' } })
const series1h = chart1h.addAreaSeries(seriesOptions)
allCharts.push(chart1h)

window.addEventListener('resize', () => {
  for (chart of allCharts) {
    chart.resize(document.body.offsetWidth, chartHeight)
  }
})

const allSeries = {
  "rt": seriesRT,
  "1m": series1m,
  "1h": series1h,
}

const ws = new sockette(`${location.href.replace(/^http/, "ws")}`, {
  timeout: 5e3,
  maxAttempts: 10,
  onopen: e => console.log('sockette: Connected!'),
  onreconnect: e => console.log('sockette: Reconnecting...', e),
  onmaximum: e => console.log('sockette: Stop Attempting!', e),
  onclose: e => console.log('sockette: Closed!', e),
  onerror: e => console.log('sockette: Error:', e),
  onmessage: e => {
    // console.log('sockette: Received:', e)
    const data = JSON.parse(e.data)
    console.log('sockette: Received:', data)
    for (var k in data) {
      const series = allSeries[k]
      for (var p of data[k]) {
        series.update(p)
      }
    }
  },
})
</script>
